<section id="add" class="container">
  <div class="form-wrap">
    <h1>Add A Job</h1>
    <p>Your contact email will be shared with registered users to apply to your
      job</p>
    {{#each errors}}
      <div class="error">
        <p>{{text}}</p>
      </div>
    {{/each}}
    <form action="/jobs/add" method="POST">
      <div class="input-group">
        <label for="title">Job Title</label>
        <input
          type="text"
          name="title"
          id="title"
          class="input-box"
          placeholder="eg. Small Wordpress website, React developer"
          maxlength="100"
          {{#if title}}
          value={{title}}
          {{/if}}
        />
      </div>
      <div class="input-group">
        <label for="technologies">Technologies Needed</label>
        <input
          type="text"
          name="technologies"
          id="technologies"
          class="input-box"
          placeholder="eg. javascript, react, PHP"
          maxlength="100"
          {{#if technologies}}
          value={{technologies}}
          {{/if}}
        />
      </div>
      <div class="input-group">
        <label for="budget">Monthly salary in USD (Leave blank for unknown)</label>
        <input
          type="number"
          name="budget"
          id="budget"
          class="input-box"
          placeholder="eg. 2000, 5000, 10000"
          {{#if budget}}
          value={{budget}}
          {{/if}}
        />
      </div>
      <div class="input-group">
        <label for="description">Job Description</label>
        <textarea
          name="description"
          id="description"
          class="input-box"
          placeholder="Describe the details of the job"
          rows="10"
        >{{#if description}}{{description}}{{/if}}</textarea>
      </div>
      <div class="input-group">
        <label for="budget">Contact Email</label>
        <input
          type="email"
          name="contact_email"
          id="contactemail"
          class="input-box"
          placeholder="Enter an email"
          {{#if contact_email}}
          value={{contact_email}}
          {{/if}}
        />
      </div>
      <input type="submit" value="Add Job" class="btn btn-reverse" />
    </form>
  </div>
</section>